[Unit]
Description=Backup de KausERP cada hora automático - KausERPBackupHourly
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/KausERPBackupHourly.sh
User=root
Group=root

[Install]
WantedBy=multi-user.target