[Unit]
Description=Ejecutar KausERPBackupDaily automáticamente cada hora

[Timer]
OnCalendar=*:00:00
Persistent=true

[Install]
WantedBy=timers.target
