[Unit]
Description=Backup de KausERP semanal automático - KausERPBackupWeekly
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/KausERPBackupWeekly.sh
User=root
Group=root

[Install]
WantedBy=multi-user.target
