[Unit]
Description=Backup de KausERP diario automático - KausERPBackupDaily
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/KausERPBackupDaily.sh
User=root
Group=root

[Install]
WantedBy=multi-user.target